html {
	background-image: url(cake.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {


}

#layout {
	margin: 0 auto;
	width: 900px;
		background-color: rgba(255,255,255, 0.9);
	border-color: white;
	border-radius: 15px;
}

h1 {
	margin: 0 auto;
	padding: 20px;
	margin-left: 350px;

}

h3, h4, p  {
	margin: 0 auto;
	padding: 20px;
	

}

#comments {
	margin-top: 30px;
	background-color: rgba(255,4,255, 0.1);
	border-color: white;
	border-radius: 15px;
	padding-bottom: 20px;
	padding-left: 20px;

}

span {
	margin: 0 auto;
	width: 900px;

}